.jumbotron {
    background-color:#ffcccb;
    color:white;
}

.why {
    font-size:28px;
}
footer {
    font-size:13px;
}
.men:hover {
    
}
.glyphicon:active{
    
}
.ref {
    height:600px;
    width:600px;
}

iframe {
    height:700px;
    width:600px;
}
.bigger {
    margin:1%;
    
}
.earth {
	height:500px;
	width:1000px;
}
.lrg {
	font-size:16px;
}

.wash {
    height:100px;
    width:300px;
}
